.cart-empty{
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;    
}
.cart-empty > h1{
  font-weight: 500;
  font-size: 32px;
}
.cart-empty>p{
  margin-top:60px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-empty>#link{
  margin-top: 50px;
  font-size: 32px;
  color: #DA6D5E;
  text-decoration: underline;

}