.cart-policy-wrapper{
  display: flex;
  justify-content: center;
}
.cart-policy-container{
  width: 1350px;
}
.cart-policy{
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: 400;
  font-size: 13px;
  border-radius: 12px ;
  background-color: #D7E6F5;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.cart-policy-icon{
  margin-left: 10px;
  margin-right: 10px;
}