.cart-wrapper{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* align-self: center; */
  max-width: 100%;
  margin: auto;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    font-size: 32px;
    font-weight: lighter;
}
.cart {
    font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;    
    margin-top: 16px;
    padding: 0 8px;
    width: 1350px;
  }
.cart > h1{
  margin-bottom: -30px;
  font-weight: 300;
}
.cart ul{
    /* width: 65%; */
    padding: 0;
}
.cart-main{
    display: flex;
    justify-content: center;
    width: 1350px;
}
.cart-item {
    display: flex;
    margin-bottom: 24px;
    flex-direction: column;
}
.cart-item-main{
    display: flex;
}
