*{
  font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;
}
.review-comment{
  font-weight: 200;
  font-size: 16px;
  line-height: 28px;
  margin-top: -10px;
}
.review-author{
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  color: #595959;
  padding-top: 5px;
}
/* .review-author img{
  height: 35px;
  width: 35px;
  border-radius: 100%;
} */
#review-logo{
  margin-right: 6px;
}
.review-remove-button, .review-edit-button{
  all:unset;
  font-size:13px ;
  font-weight: bold;
  cursor: pointer;
  padding: 9px;
  border-radius: 24px;
}
.review-remove-button:hover, .review-edit-button:hover{
  background-color: rgb(237, 229, 229);
  transition: all 0.2s ease-in-out;
}