.home-page {
  width: 100%;
  height: 100%;
}

.second-section{
  font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif; 
  max-width: 1350px;
  margin: auto;
  margin-top: 120px;
}

.second-section h3{
  font-weight: 500;
  font-size: 16px;
  margin-left: 4px;
  margin-bottom: -10px;
}



.product-list-tiles{
  display:flex;
  flex-wrap:wrap;
  overflow-y:hidden;
  padding-left: 0 !important;
  flex: 1 0 100%;
  margin-top: 25px;
}

.product-list-tiles li{
  flex: 1 1 260px 100px;
  height:200px;
  list-style: none;
  /* margin: 5px; */
}



.fourth-section{
  font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif; 
  max-width: 1350px;
  margin: auto;
  /* margin-top: 120px; */
}

.fourth-section h3{
  font-weight: 500;
  font-size: 16px;
  margin-left: 4px;
  margin-bottom: -10px;
}








.third-section .product-tiles-wrapper ul{
    display: flex;
    justify-content: center;
}

.third-section .product-tiles-wrapper ul li{
  list-style: none;
  margin: 30px;
  margin-top: 0px;
  /* overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap; */
}

.third-section .product-tiles-wrapper ul li img{
  list-style: none;
  width: 114px;
  height: 114px;
  border: 1px solid rgba(34, 34, 34, 0.15) !important;
  max-width: 114px;
  border-radius: 50% !important;
  overflow: hidden !important;
  /* object-fit: contain; */
  margin-top: 6px !important;
  margin-bottom: 12px !important;
}

.third-section .product-tiles-wrapper ul li p{
  display: -webkit-box;
  margin: 0 auto;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;/* Fallback for non-webkit */
}


.third-section .product-tiles-wrapper .product-circle-tiles{
  margin-top: 35px;
  margin-bottom: 35px;
}

.third-section .product-tiles-wrapper .product-circle-tiles li{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  max-width: 114px;
  font-weight: 400;
}

.second-section .product-tiles-wrapper .product-list-tiles .product  .product-img > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  /* box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%); */
  /* border: 1px solid rgba(34, 34, 34, 0.15); */
  max-width: 260px;
  border-radius: 11px;
}

.third-section .product-tiles-wrapper .product-list-tiles .product  .product-img > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  /* box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%); */
  /* border: 1px solid rgba(34, 34, 34, 0.15); */
  max-width: 260px;
  border-radius: 11px;
}

.second-section .product-tiles-wrapper .product-list-tiles .product  .product-img :hover{
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.304);
}
