.profile-button{
  all: unset;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.profile-button:hover{
  background-color: #EFEFEF;
  transition: all 0.2s ease-in-out;
}
.dropdown-wrap{
  position: relative;
}
.profile-dropdown{
  list-style: none;
  position: absolute;
  background-color: white;
  transition: opacity 180ms ease-out,box-shadow 180ms cubic-bezier(0.175, 0.885, 0.4, 1.1),transform 180ms cubic-bezier(0.175, 0.885, 0.4, 1.1),visibility 180ms linear;
  border: 1px rgba(34, 34, 34, 0.15) solid;
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
  opacity: 1;
  transform: scaleX(1) scaleY(1) perspective(1px);
  visibility: visible;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 12px;
  right: -10px;
  top: -20px;
  z-index: 100;
  border-radius: 12px;
  min-width: 160px;
  max-width: 300px;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 0;      
}
.profile-dropdown:before{
content: '';
position: absolute;
width: 0;
height: 0;
bottom: 100%;
right: 1.5em; 
border: .75rem solid transparent;
border-top: none;
  border-bottom-color: #fff;
filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}
#profile-signout{
  display: flex;
  cursor: pointer;
  margin-top: 20px;
}
#profile-signout button{
  all: unset;
  cursor: pointer;
}
#profile-signout:hover{
  background-color: #EFEFEF;
}
#profile-firstname{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}