ul{
  list-style: none;
}

.nav-bar {
  display: flex;
  /* height: 60px; */
  padding-bottom: 7px;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 45px;
  margin: 15px;
  text-decoration: none;
  color: #DA6D5E;
}

.logo > a:visited {
  color: var(--primary-orange);
}

.search-bar {
  flex: 1;
  width: 900px;
  height: 40px;
  border-radius: 25px;
  margin: 10px 10px;
  border: 2px solid black;
  padding-left: 20px;
}

.cart-btn {
  margin: 10px;
  margin-top: 4px;
  background-color: white;
  border: none;
  width: 24px;
  height: 24px;
}

.cart-btn > svg {
  width: 25px;
  height: 25px;
}

::placeholder {
  margin-right: 10px;
  font-size: 15px;
}

.search-bar-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  height: 37px;
  position: relative;
  top: 5px;
  right: 50px;
  z-index: 1;
}

.signin-btn {
  margin: 10px;
  margin-left: -10px;
  background-color: white;
  border: none;
  font-size: 14px;
}

.profile-btn:hover {
  /* background-color: grey; */
  transform: scale(1.2);
  transition: transform ease-in 150ms;
  border-radius: 10px;
  /* opacity: 0.3; */
  /* display: block; */
}

.account-btn {
  display: inline-block;
  position: relative;
}

.account-btn:hover .dropdown-content {
  display: block;
}

.profile-btn {
  background-color: transparent;
  color: grey;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.profile-btn > img{
  width: 25px;
  height: 25px;
  margin-left: -6px;
  margin-top: -2px;
}

.dropdown-content:hover {
  display: block;
}

.dropdown-content {
  display: none;
  border: 1px solid white;
  border-radius: 10px;
  position: absolute;
  top: 12px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  margin-left:-10px;
}

.dropdown-content > li {
  /* display: block; */
  padding: 12px 5px;
  text-decoration: none;
  color: black;
}

.dropdown-content > li > svg{
  width: 24px;
  height: 24px;
  margin-left: -40px;
}

.dropdown-content li:hover {
  background-color: lightgray;
}

span {
  padding-left: 10px;
  font-family: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans",
    Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: black;
}



