.demo_button{
  background-color: black;
  color: white;
  padding: 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  padding-left: 125px;
  padding-right: 125px;
  margin-top: 15px;
  font-size: 15px;
  width: 100%;
}
.demo_button:hover{
  background-color: rgb(68, 66, 66);
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}