.add-to-cart-button{
  font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;    
  background-color: black;
  color: white;
  padding: 15px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  font-size: 15px;
  margin-top: 15px;
  text-align: center;
}
.submit-review-button{
  all: unset;
  background-color: black;
  color: white;
  padding: 15px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
}
.submit-review-button:hover,.add-to-cart-button:hover{
  background-color: rgb(68, 66, 66);
  box-shadow: 0 4px 20px rgb(34 34 34 / 15%);
}
.sign-in-button{
  position: relative;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.4;
  border-radius: 24px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index:10;
  margin-right: 5px !important;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 500;
}
.sign-in-button:hover{
  background-color: #EFEFEF;
  /* transform: scale(1); */
  transition: all 0.2s ease-out;
}
#register_on_modal{
  border: 2px solid black;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  background-color: white;
  height: 30px;
  justify-content: center;
  padding-bottom: 22px;
  padding-top: 10px;
  padding-right: 13px;
  padding-left: 13px;
  justify-content: center;
}
#register_on_modal:hover{
  /* background-color: rgb(237, 229, 229); */
  transform: scale(1.1);
}