
.header-main{
    width: 100%;
    margin-top: 8px;
  }
  .header-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-dropdown {
    position: absolute;
  }
  .header{
    width: 100%;
    display: flex;
    max-width: 1350px;
    margin: auto;
    height: 60px;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 0;
  }
  .logo{
    width: 120px;
    object-fit: contain;
    margin-top: 5px;
    font-family: "Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif;

    font-size: 40px;
    color: #F1641E;
    margin: 15px;
    text-decoration: none;
  
  }
  .header_searchInput{
    width: 97%;
    padding: 10px;
    height: 25px;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 16px;
    font-family:"Graphik Webfont",-apple-system,"Helvetica Neue","Droid Sans",Arial,sans-serif; 
    font-weight: 100;
    background-color:rgba(219, 214, 214, 0.279);
    text-indent: 10px;
  }
  .searchIcon{
    margin-left: -58px;
    cursor: pointer;
    height: 25px;
    border-top-right-radius: 30px;  
    border-bottom-right-radius: 30px;
    padding-left: 11px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    top: 2px;
  }
  .searchIcon:hover{
    background-color: #EFEFEF;
    transition: all 0.2s ease-in-out;
  }
  .searchIcon:visited {
    color: black;
    text-decoration: none;
  }
  .cart-icon-link{
    all: unset;
  }
  .shoppingIcon{
    color: black;
    padding: 14px;
    border-radius: 100%;
    margin-right: -25px;
  }
  .shoppingIcon:hover{
    background-color: #EFEFEF;
    transition: all 0.2s ease-in-out;
  }
  
  .shoppingIcon:visited {
    color: black;
  }
  
  .header_search{
    display: flex;
    flex: 1;
  }
  .header_nav{
    display: flex;
    justify-content: space-evenly;
  }
  .header_option{
    display: flex;
    flex-direction:column;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header_basket{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
  }
  .basket_count{
    margin-left: 10px;
    margin-right: 20px;
  }
  .navbar{
    display: flex;
    justify-content: center;
  }