.product {
  position: relative
}


.product-img > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
  border: 1px solid rgba(34, 34, 34, 0.15);
  max-width: 260px;
  border-radius: 24px;
}
.home-product-img > img:hover{
  box-shadow: 0 1px 6px 0 rgba(26, 25, 25, 0.5);
  border: 1px solid rgba(34, 34, 34, 0.15);
}


.product-price{
  list-style: none;
  text-decoration: none;
  color: black !important;
  font-weight: bold !important;
  background-color: white;
  border-radius: 15px;
  color: inherit;
  display: inline-block;
  word-break: break-word;
  line-height: 1;
  font-size: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 9px;
  padding-right: 9px;
  border: 1px solid rgba(34, 34, 34, 0.15) !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  min-width: 0 !important;
  cursor: pointer;
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 3px;
}